@import url(./__avatar/profile__avatar.css);
@import url(./__info/profile__info.css);
@import url(./__button/__button-add/profile__button-add.css);
@import url(./__button/__button-edit/profile__button-edit.css);

.profile {
    margin: 40px auto;
    padding: 0;
    max-width: 882px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    position: relative;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;            
}

@media screen and (max-width: 700px) {
    .profile {
        max-width: 400px;
        width: 100%;
        flex-direction: column;
        margin: 38px auto 36px;
        
    }
    .title_button {
        padding: 0;
    }
}
