.popup__content {
    position: absolute;
    flex-direction: column;
    z-index: 100;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding: 34px 36px 36px;
    background: #fff;
    color: #000;
    border-radius: 10px;
    top: 50%;    
    left: 50%;
    transform: translate(-50%, -125%);        
    transition: 200ms ease-in-out;
    z-index: 10;
}

@media screen and (max-width: 700px) {
    .popup__content {
        width: 90%;
    }
}
@media screen and (max-width: 500px) {
    .popup__content {
        min-width: 350px;
        padding: 20px;
    }
}