.popup__content-img{
    position: absolute;
    display: flex;
    z-index: 100;
    background-repeat: no-repeat;
    background-size: auto;  
    margin: 0 auto;
    left: 50%;
    top: 25%;
    -webkit-transform: translate(-50%, -20%);
    -moz-transform: translate(-50%, -20%);
    -ms-transform: translate(-50%, -20%);
    -o-transform: translate(-50%, -20%);
    transform: translate(-50%, -20%);
    max-width: 75vw;
    min-width: 400px;
}

@media screen and (max-width: 850px) {
    .popup__content-img{
    top: 15%;
    }
}