.popup__content-img{
    position: absolute;
    display: flex;
    z-index: 100;
    background-repeat: no-repeat;
    background-size: auto;  
    margin: 0 auto;
    left: 50%;
    top: 15%;
    -webkit-transform: translate(-50%, -10%);
    -moz-transform: translate(-50%, -10%);
    -ms-transform: translate(-50%, -10%);
    -o-transform: translate(-50%, -10%);
    transform: translate(-50%, -10%);
    max-width: 75vw;
    min-width: 282px;
    min-height: 282px;
}