@import url(./__logo/header__logo.css);
.header {
    margin: 45px auto;
    padding-bottom: 40px;
    max-width: 882px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);

}
@media screen and (max-width: 700px) {
    .header {
        width: 100%;
        margin: 28px auto;
        padding-left: 27px;
    }
}
