.elements {
    display: -ms-grid;
    display: grid;
    margin: 0 auto;
    padding: 0;
    max-width: 890px;
    width: 100%;
    min-height: 744px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    grid-gap: 18px 21px;
    justify-items: center;
}