.popup__img{
}
.popup__img-full{
    position: absolute;
    width: 50%;
}
.popup__img-title {
    z-index: 20;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    position: absolute;
}
.popup__img-big {
    position: absolute;
    z-index: 30;
    top: 25%;
    left: 25%;
    width: 100%;
}