.popup__button-close {
    height: 40px;
    width: 40px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    background: url(../../../images/popup__button-close.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    cursor: pointer;
    position: absolute;
    right: -40px;
    top: -40px;
    border: none;
    z-index: 10;
}
.popup__button-close:hover {
    opacity: 0.8;
}

