.profile__info {
    margin: 0 auto 0 30px;
}
@media screen and (max-width: 400px) {
    .profile__info {
        padding-top: 10px 0;
        margin: 0 auto 36px;
        align-items: center;
    }
}