@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonst.css);
@import url(../block/header/header.css);
@import url(../block/profile/profile.css);
@import url(../block/section-title/section-title.css);
@import url(../block/section-subtitle/section-subtitle.css);
@import url(../block/button/button.css);
@import url(../block/footer/footer.css);
@import url(../block/elements/elements.css);
@import url(../block/element/element.css);

body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: 1200px;
    width: 100%;
    background: #000;
    color: #fff;
    font-family: Inter, sans-serif;
}






