.element__button-active {
    width: 30px;
    height: 28px;
    border: none;
    cursor: pointer;
    background: url(../../../images/like__active.svg);
    background-repeat: no-repeat;
    background-position: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}