@import url(./__button/element__button.css);
@import url(./__content/element__content.css);
@import url(./__title/element__title.css);
@import url(./__img/element__img.css);
@import url(./__trash/element__trash.css);
@import url(./__button/element__button-active.css);

.element {
    max-width: 282px;
    height: 362px;
    background: #fff;
    color: #000;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

