.popup__body {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin-top: 54px;
    width: 100%;
    color: #000;
}
#name {
    border: none;
    border-bottom: 1px solid #000000;;
    margin-bottom: 30px;
    padding-bottom: 13px;
    width: 100%;
}
#job {
    border: none;
    border-bottom: 1px solid #000000;;
    margin-bottom: 48px;
    padding-bottom: 13px;
    width: 100%;
}