.popup__button_close {
    height: 40px;
    width: 40px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    background: url(../../../images/pop-up__button_close.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    cursor: pointer;
    position: absolute;
    right: -40px;
    top: -40px;
    border: none;
    z-index: 10;
}